@model AkınSoft_Password_Manager.Models.Entity.Passwords
@{
    ViewBag.Title = "AddPasswords";
    Layout = "~/Views/Shared/TestLayout.cshtml";
}

@using (Html.BeginForm("AddCategoriesForNewPasswords", "Passwords", FormMethod.Post, new { enctype = "multipart/form-data" }))
{<div></div>
    <div style="margin-top:20px">
        <label>Yeni Kategori Başlığı</label>
        @Html.TextBoxFor(k => k.Title, new { @class = "form-control" })
    </div>
    <div style="margin-top:20px">
        <button class="btn btn-info">Yeni Kategori Oluştur</button>
    </div>

}

@using (Html.BeginForm("AddPasswords", "Passwords", FormMethod.Post, new { enctype = "multipart/form-data" }))
{<div></div>
    <div style="margin-top:20px">
        <label>Başlık</label>
        @Html.TextBoxFor(k => k.Title, new { @class = "form-control" })
    </div>
    <div style="margin-top:20px">
        <label>URL</label>
        @Html.TextBoxFor(k => k.URL, new { @class = "form-control" })
    </div>
    <div style="margin-top:20px">
        <label>Kategori</label>
        @Html.DropDownListFor(model => model.CategoryID, ViewBag.Categories as IEnumerable<SelectListItem>, "Select Category", new { @class = "form-control" }) <br />
    </div>
    <div style="margin-top:20px">
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(k => k.Username, new { @class = "form-control" })
    </div>
    <div style="margin-top:20px">
        <label>Şifre</label>
        @Html.TextBoxFor(k => k.Password, new { @class = "form-control", @type = "password" })
    </div>
    <div style="margin-top:20px">
        <label>Icon</label>
        <input type="file" name="RESIM" class="form-control" />
    </div>
    <div style="margin-top:20px">
        <button class="btn btn-info">Yeni Şifre Oluştur</button>
    </div>

}




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<script>
    $('#summernote').summernote({
        placeholder: '',
        tabsize: 2,
        height: 120,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>

